html {
    scroll-behavior: smooth!important;;
  }

@font-face {
            font-family: "Segoe Script"; 
            src: url('https://tiflis-menu.ru/fonts/Segoe Script Regular.ttf') format('truetype');
        }

        

		div.bg {
			/* background: url('../pics/texture8.jpg') ; */
			/* background-size: cover; */
			color: black;
			font-size: 18px;
            background-color: #2D2D45 ;

		}

        .title {
            color: #FFFFE8;
            font-size: 24px;   
            font-family: "Segoe Script";
            text-align: left;
            padding-left: 10px;
            padding-top: 20px;
            margin-bottom: 10px;
        }

        .subtitle {
            font-family: "Segoe Script";
            color: #FFFFE8;
            font-size: 20px;   
            text-align: left;
            padding-left: 10px;
            /* margin-top: -5px; */
            margin-bottom: 10px;
        }

        .description {
            font-size: 12px;   
            color: #FFFFE8;
            margin-top: -5px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .dishTitle {
            color: #FFFFE8;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 10px;
            /* margin-bottom: 10px; */
        }

        .swiper-container {
            /* width: 600px; */
            height: 420px;
        }

        .swiper-container img{
            border-radius: 10px;
        }

        /* .swiper-button-prev {
            margin-top: -60px;
            color: #2D2D45
        }

        .swiper-button-next {
            margin-top: -60px;
            color: #2D2D45
        } */

        .swiper-pagination-bullet-active {
            background-color: #2D2D45;
        }

        .swiper-pagination-fraction {
            color: #FFFFE8
        }

		p {
            font-family: Arial;
            color: #FFFFE8;
        }		

		p.info {font-size: 12px}
		
        a.no {
			text-decoration: none; 
			color: #FFFFE8; 
		}
		
		a.tel {
			text-decoration: ; 
			text-decoration: none; 
			color: #FFFFE8;
		}	

    /* 
    
    blue #2D2D45 
    gold #CAA64E

    blue_menu #42404E
    gold #D7CFC3, #F1EBB9
    red_menu #C0A7AD
    pomidor #C8463F
    white_paper #FBF9FA */

    